@import "variables.scss";

.nav{
    position: sticky;
    top:0;
    z-index: 1;
    &__list{
        display:flex;
        justify-content: center;
        background-color: #333;
    }

    &__item{
        a {
            display:inline-block;
            color:white;
            padding: 10px;
            font-size:1.1rem;
            transition: 0.5s color;
        }

        a:hover{
            color:$hover_color;
        }
    }
}

